Web References/Membership/MembershipLookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAllMemebrs">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMemebrsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMemebrsResult" type="tns:ArrayOfMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemberId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberClassId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BussinessType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecondaryStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NIDNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TINNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VATNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMemberClasses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="onlyActive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberClassesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberClassesResult" type="tns:ArrayOfMemberClasses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMemberClasses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberClasses" nillable="true" type="tns:MemberClasses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberClasses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnualPayment" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMemberClassName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberClassNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberClassNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountCreationList">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountCreationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountCreationListResult" type="tns:ArrayOfMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByIdNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByIdNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberByIdNoResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InactiveMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="changedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InactiveMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InactiveMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyAccountCreated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyAccountCreatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyAccountCreatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="commodityGradeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="activeOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberByClientResult" type="tns:Member" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersAgreements">
        <s:complexType />
      </s:element>
      <s:element name="GetMembersAgreementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersAgreementsResult" type="tns:ArrayOfMemberAgreements" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMemberAgreements">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberAgreements" nillable="true" type="tns:MemberAgreements" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberAgreements">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemberId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Commodity" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="CommoditySetting" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientIdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyAccountClosed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="closedBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyAccountClosedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyAccountClosedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientResult" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrganizationTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecondaryStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NIDNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TINNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VATNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClients">
        <s:complexType />
      </s:element>
      <s:element name="GetClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEnum">
        <s:complexType />
      </s:element>
      <s:element name="GetEnumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEnumResult" type="tns:CommoditySettings" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CommoditySettings">
        <s:restriction base="s:string">
          <s:enumeration value="Commodity" />
          <s:enumeration value="CommodityClass" />
          <s:enumeration value="CommodityGrade" />
          <s:enumeration value="Uknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMemberClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberClientsResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberClientsByCommodity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="commodityGradeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberClientsByCommodityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberClientsByCommodityResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfMembershipEntities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMembershipEntities">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MembershipEntities" nillable="true" type="tns:MembershipEntities" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MembershipEntities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UniqueIdentifier" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="StringIdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMember" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OldId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GhostClientId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryStatus" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecondaryStatus" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberClass" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Commodity" nillable="true" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEntityByIdNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntityByIdNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntityByIdNoResult" type="tns:MembershipEntities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntityByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntityByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntityByGuidResult" type="tns:MembershipEntities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanEntityApproveWHR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="gradeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanEntityApproveWHRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanEntityApproveWHRResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRepsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRepsResult" type="tns:ArrayOfRep" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRep">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rep" nillable="true" type="tns:Rep" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rep">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="RepName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="repId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRepResult" type="tns:Rep" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRepByStringId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRepByStringIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRepByStringIdResult" type="tns:Rep" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBankValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBankValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsBankValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersByTransactionNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionNos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMembersByTransactionNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersByTransactionNoResult" type="tns:ArrayOfMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersForMAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memEntityId" type="tns:ArrayOfGuid" />
            <s:element minOccurs="0" maxOccurs="1" name="grades" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMembersForMATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersForMATResult" type="tns:ArrayOfMembershipEntities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersForMAT2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memEntityId" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="comClassGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="comGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersForMAT2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersForMAT2Result" type="tns:ArrayOfMembershipEntities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCSA">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCSAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCSAResult" type="tns:ArrayOfCSA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCSA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CSA" nillable="true" type="tns:CSA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CSA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AgreemnetId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ClearingMemberId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="NonClearingMemberId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ClearingLimit" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBankByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBankByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBankByNameResult" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClearingMemberCSA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clearingMemberId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClearingMemberCSAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClearingMemberCSAResult" type="tns:ArrayOfCSA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNonClearingMemberCSA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nonClearingMemberId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNonClearingMemberCSAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNonClearingMemberCSAResult" type="tns:CSA" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMemebrsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMemebrs" />
  </wsdl:message>
  <wsdl:message name="GetAllMemebrsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMemebrsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberClassesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberClasses" />
  </wsdl:message>
  <wsdl:message name="GetMemberClassesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberClassesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberClassNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberClassName" />
  </wsdl:message>
  <wsdl:message name="GetMemberClassNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberClassNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountCreationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountCreationList" />
  </wsdl:message>
  <wsdl:message name="GetAccountCreationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountCreationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetMember" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberByIdNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberByIdNo" />
  </wsdl:message>
  <wsdl:message name="GetMemberByIdNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberByIdNoResponse" />
  </wsdl:message>
  <wsdl:message name="InactiveMemberSoapIn">
    <wsdl:part name="parameters" element="tns:InactiveMember" />
  </wsdl:message>
  <wsdl:message name="InactiveMemberSoapOut">
    <wsdl:part name="parameters" element="tns:InactiveMemberResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyAccountCreatedSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyAccountCreated" />
  </wsdl:message>
  <wsdl:message name="NotifyAccountCreatedSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyAccountCreatedResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberByClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberByClient" />
  </wsdl:message>
  <wsdl:message name="GetMemberByClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberByClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersAgreementsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembersAgreements" />
  </wsdl:message>
  <wsdl:message name="GetMembersAgreementsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersAgreementsResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyAccountClosedSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyAccountClosed" />
  </wsdl:message>
  <wsdl:message name="NotifyAccountClosedSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyAccountClosedResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="GetClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnumSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnum" />
  </wsdl:message>
  <wsdl:message name="GetEnumSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnumResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberClients" />
  </wsdl:message>
  <wsdl:message name="GetMemberClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberClientsByCommoditySoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberClientsByCommodity" />
  </wsdl:message>
  <wsdl:message name="GetMemberClientsByCommoditySoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberClientsByCommodityResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntityByIdNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntityByIdNo" />
  </wsdl:message>
  <wsdl:message name="GetEntityByIdNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntityByIdNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntityByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntityByGuid" />
  </wsdl:message>
  <wsdl:message name="GetEntityByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntityByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="CanEntityApproveWHRSoapIn">
    <wsdl:part name="parameters" element="tns:CanEntityApproveWHR" />
  </wsdl:message>
  <wsdl:message name="CanEntityApproveWHRSoapOut">
    <wsdl:part name="parameters" element="tns:CanEntityApproveWHRResponse" />
  </wsdl:message>
  <wsdl:message name="GetRepsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReps" />
  </wsdl:message>
  <wsdl:message name="GetRepsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRepsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRepSoapIn">
    <wsdl:part name="parameters" element="tns:GetRep" />
  </wsdl:message>
  <wsdl:message name="GetRepSoapOut">
    <wsdl:part name="parameters" element="tns:GetRepResponse" />
  </wsdl:message>
  <wsdl:message name="GetRepByStringIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRepByStringId" />
  </wsdl:message>
  <wsdl:message name="GetRepByStringIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRepByStringIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsBankValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsBankValid" />
  </wsdl:message>
  <wsdl:message name="IsBankValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsBankValidResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersByTransactionNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembersByTransactionNo" />
  </wsdl:message>
  <wsdl:message name="GetMembersByTransactionNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersByTransactionNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersForMATSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembersForMAT" />
  </wsdl:message>
  <wsdl:message name="GetMembersForMATSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersForMATResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersForMAT2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMembersForMAT2" />
  </wsdl:message>
  <wsdl:message name="GetMembersForMAT2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersForMAT2Response" />
  </wsdl:message>
  <wsdl:message name="GetAllCSASoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCSA" />
  </wsdl:message>
  <wsdl:message name="GetAllCSASoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCSAResponse" />
  </wsdl:message>
  <wsdl:message name="GetBankByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetBankByName" />
  </wsdl:message>
  <wsdl:message name="GetBankByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetBankByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetClearingMemberCSASoapIn">
    <wsdl:part name="parameters" element="tns:GetClearingMemberCSA" />
  </wsdl:message>
  <wsdl:message name="GetClearingMemberCSASoapOut">
    <wsdl:part name="parameters" element="tns:GetClearingMemberCSAResponse" />
  </wsdl:message>
  <wsdl:message name="GetNonClearingMemberCSASoapIn">
    <wsdl:part name="parameters" element="tns:GetNonClearingMemberCSA" />
  </wsdl:message>
  <wsdl:message name="GetNonClearingMemberCSASoapOut">
    <wsdl:part name="parameters" element="tns:GetNonClearingMemberCSAResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberShipLookUpSoap">
    <wsdl:operation name="GetAllMemebrs">
      <wsdl:input message="tns:GetAllMemebrsSoapIn" />
      <wsdl:output message="tns:GetAllMemebrsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberClasses">
      <wsdl:input message="tns:GetMemberClassesSoapIn" />
      <wsdl:output message="tns:GetMemberClassesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberClassName">
      <wsdl:input message="tns:GetMemberClassNameSoapIn" />
      <wsdl:output message="tns:GetMemberClassNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountCreationList">
      <wsdl:input message="tns:GetAccountCreationListSoapIn" />
      <wsdl:output message="tns:GetAccountCreationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input message="tns:GetMemberSoapIn" />
      <wsdl:output message="tns:GetMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByIdNo">
      <wsdl:input message="tns:GetMemberByIdNoSoapIn" />
      <wsdl:output message="tns:GetMemberByIdNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InactiveMember">
      <wsdl:input message="tns:InactiveMemberSoapIn" />
      <wsdl:output message="tns:InactiveMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountCreated">
      <wsdl:input message="tns:NotifyAccountCreatedSoapIn" />
      <wsdl:output message="tns:NotifyAccountCreatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByClient">
      <wsdl:input message="tns:GetMemberByClientSoapIn" />
      <wsdl:output message="tns:GetMemberByClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersAgreements">
      <wsdl:input message="tns:GetMembersAgreementsSoapIn" />
      <wsdl:output message="tns:GetMembersAgreementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountClosed">
      <wsdl:input message="tns:NotifyAccountClosedSoapIn" />
      <wsdl:output message="tns:NotifyAccountClosedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input message="tns:GetClientSoapIn" />
      <wsdl:output message="tns:GetClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input message="tns:GetClientsSoapIn" />
      <wsdl:output message="tns:GetClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnum">
      <wsdl:input message="tns:GetEnumSoapIn" />
      <wsdl:output message="tns:GetEnumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberClients">
      <wsdl:input message="tns:GetMemberClientsSoapIn" />
      <wsdl:output message="tns:GetMemberClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberClientsByCommodity">
      <wsdl:input message="tns:GetMemberClientsByCommoditySoapIn" />
      <wsdl:output message="tns:GetMemberClientsByCommoditySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityByIdNo">
      <wsdl:input message="tns:GetEntityByIdNoSoapIn" />
      <wsdl:output message="tns:GetEntityByIdNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityByGuid">
      <wsdl:input message="tns:GetEntityByGuidSoapIn" />
      <wsdl:output message="tns:GetEntityByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanEntityApproveWHR">
      <wsdl:input message="tns:CanEntityApproveWHRSoapIn" />
      <wsdl:output message="tns:CanEntityApproveWHRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReps">
      <wsdl:input message="tns:GetRepsSoapIn" />
      <wsdl:output message="tns:GetRepsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRep">
      <wsdl:input message="tns:GetRepSoapIn" />
      <wsdl:output message="tns:GetRepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRepByStringId">
      <wsdl:input message="tns:GetRepByStringIdSoapIn" />
      <wsdl:output message="tns:GetRepByStringIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsBankValid">
      <wsdl:input message="tns:IsBankValidSoapIn" />
      <wsdl:output message="tns:IsBankValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersByTransactionNo">
      <wsdl:input message="tns:GetMembersByTransactionNoSoapIn" />
      <wsdl:output message="tns:GetMembersByTransactionNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT">
      <wsdl:input message="tns:GetMembersForMATSoapIn" />
      <wsdl:output message="tns:GetMembersForMATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT2">
      <wsdl:input message="tns:GetMembersForMAT2SoapIn" />
      <wsdl:output message="tns:GetMembersForMAT2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCSA">
      <wsdl:input message="tns:GetAllCSASoapIn" />
      <wsdl:output message="tns:GetAllCSASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBankByName">
      <wsdl:input message="tns:GetBankByNameSoapIn" />
      <wsdl:output message="tns:GetBankByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClearingMemberCSA">
      <wsdl:input message="tns:GetClearingMemberCSASoapIn" />
      <wsdl:output message="tns:GetClearingMemberCSASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNonClearingMemberCSA">
      <wsdl:input message="tns:GetNonClearingMemberCSASoapIn" />
      <wsdl:output message="tns:GetNonClearingMemberCSASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberShipLookUpSoap" type="tns:MemberShipLookUpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMemebrs">
      <soap:operation soapAction="http://tempuri.org/GetAllMemebrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClasses">
      <soap:operation soapAction="http://tempuri.org/GetMemberClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClassName">
      <soap:operation soapAction="http://tempuri.org/GetMemberClassName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountCreationList">
      <soap:operation soapAction="http://tempuri.org/GetAccountCreationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap:operation soapAction="http://tempuri.org/GetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByIdNo">
      <soap:operation soapAction="http://tempuri.org/GetMemberByIdNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactiveMember">
      <soap:operation soapAction="http://tempuri.org/InactiveMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountCreated">
      <soap:operation soapAction="http://tempuri.org/NotifyAccountCreated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByClient">
      <soap:operation soapAction="http://tempuri.org/GetMemberByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersAgreements">
      <soap:operation soapAction="http://tempuri.org/GetMembersAgreements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountClosed">
      <soap:operation soapAction="http://tempuri.org/NotifyAccountClosed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnum">
      <soap:operation soapAction="http://tempuri.org/GetEnum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClients">
      <soap:operation soapAction="http://tempuri.org/GetMemberClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClientsByCommodity">
      <soap:operation soapAction="http://tempuri.org/GetMemberClientsByCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityByIdNo">
      <soap:operation soapAction="http://tempuri.org/GetEntityByIdNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityByGuid">
      <soap:operation soapAction="http://tempuri.org/GetEntityByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanEntityApproveWHR">
      <soap:operation soapAction="http://tempuri.org/CanEntityApproveWHR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReps">
      <soap:operation soapAction="http://tempuri.org/GetReps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRep">
      <soap:operation soapAction="http://tempuri.org/GetRep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepByStringId">
      <soap:operation soapAction="http://tempuri.org/GetRepByStringId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBankValid">
      <soap:operation soapAction="http://tempuri.org/IsBankValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersByTransactionNo">
      <soap:operation soapAction="http://tempuri.org/GetMembersByTransactionNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT">
      <soap:operation soapAction="http://tempuri.org/GetMembersForMAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT2">
      <soap:operation soapAction="http://tempuri.org/GetMembersForMAT2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCSA">
      <soap:operation soapAction="http://tempuri.org/GetAllCSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankByName">
      <soap:operation soapAction="http://tempuri.org/GetBankByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClearingMemberCSA">
      <soap:operation soapAction="http://tempuri.org/GetClearingMemberCSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonClearingMemberCSA">
      <soap:operation soapAction="http://tempuri.org/GetNonClearingMemberCSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberShipLookUpSoap12" type="tns:MemberShipLookUpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMemebrs">
      <soap12:operation soapAction="http://tempuri.org/GetAllMemebrs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClasses">
      <soap12:operation soapAction="http://tempuri.org/GetMemberClasses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClassName">
      <soap12:operation soapAction="http://tempuri.org/GetMemberClassName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountCreationList">
      <soap12:operation soapAction="http://tempuri.org/GetAccountCreationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap12:operation soapAction="http://tempuri.org/GetMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByIdNo">
      <soap12:operation soapAction="http://tempuri.org/GetMemberByIdNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactiveMember">
      <soap12:operation soapAction="http://tempuri.org/InactiveMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountCreated">
      <soap12:operation soapAction="http://tempuri.org/NotifyAccountCreated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByClient">
      <soap12:operation soapAction="http://tempuri.org/GetMemberByClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersAgreements">
      <soap12:operation soapAction="http://tempuri.org/GetMembersAgreements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyAccountClosed">
      <soap12:operation soapAction="http://tempuri.org/NotifyAccountClosed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap12:operation soapAction="http://tempuri.org/GetClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tempuri.org/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnum">
      <soap12:operation soapAction="http://tempuri.org/GetEnum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClients">
      <soap12:operation soapAction="http://tempuri.org/GetMemberClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberClientsByCommodity">
      <soap12:operation soapAction="http://tempuri.org/GetMemberClientsByCommodity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityByIdNo">
      <soap12:operation soapAction="http://tempuri.org/GetEntityByIdNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityByGuid">
      <soap12:operation soapAction="http://tempuri.org/GetEntityByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanEntityApproveWHR">
      <soap12:operation soapAction="http://tempuri.org/CanEntityApproveWHR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReps">
      <soap12:operation soapAction="http://tempuri.org/GetReps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRep">
      <soap12:operation soapAction="http://tempuri.org/GetRep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepByStringId">
      <soap12:operation soapAction="http://tempuri.org/GetRepByStringId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBankValid">
      <soap12:operation soapAction="http://tempuri.org/IsBankValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersByTransactionNo">
      <soap12:operation soapAction="http://tempuri.org/GetMembersByTransactionNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT">
      <soap12:operation soapAction="http://tempuri.org/GetMembersForMAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersForMAT2">
      <soap12:operation soapAction="http://tempuri.org/GetMembersForMAT2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCSA">
      <soap12:operation soapAction="http://tempuri.org/GetAllCSA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankByName">
      <soap12:operation soapAction="http://tempuri.org/GetBankByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClearingMemberCSA">
      <soap12:operation soapAction="http://tempuri.org/GetClearingMemberCSA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonClearingMemberCSA">
      <soap12:operation soapAction="http://tempuri.org/GetNonClearingMemberCSA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberShipLookUp">
    <wsdl:port name="MemberShipLookUpSoap" binding="tns:MemberShipLookUpSoap">
      <soap:address location="http://10.1.5.20:5000/MembershipLookup/MemberShipLookUp.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberShipLookUpSoap12" binding="tns:MemberShipLookUpSoap12">
      <soap12:address location="http://10.1.5.20:5000/MembershipLookup/MemberShipLookUp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>